block content
    div#bottom-bar.row.no-gutters
        div#navbarhome.col.text-center
            a(href='/')
                i.bottomicon.fa.fa-home(aria-hidden='true')
                h2.baritem Home
        div#navbarrooms.col.text-center
            a(href='/rooms')
                i.bottomicon.fa.fa-bed(aria-hidden='true')
                h2.baritem Rooms
        div#navbarrewards.col.text-center
            a(href='/rewards')
                i.bottomicon.fa.fa-star(aria-hidden='true')
                h2.baritem Rewards
        div#navbarleesave.col.text-center
            a(href='/leesave')
                i.bottomicon.fa.fa-check-circle(aria-hidden='true')
                h2.baritem LEESAve

block scripts
    script(src='/js/ui.js')