extends layout

block content

  div.login-container
    h1.mb-5 Account Created!
    .detailh3 We've sent a confirmation email to your inbox. You must confirm your email before logging in.
    
    a(href='/login')
      button.btn.btn-primary.btn-login.mt-5 Login
